*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 88px;
}

button{
    background-color: white;
    height: 45px;
    width: 80px;
    border-radius: 12px;
    border: 2px solid black;
}